@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#424244;
    --text-color:rgb(177, 171, 171);
    --hover-bg-color:#6e6e70;
}
main{
    margin: 11vh 10px 0px 37%;
    height: calc(87vh - 11vh);
    width: 62%;
    background-color: var(--bg-color);
    border-radius: 10px;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
}
main:hover{
    scrollbar-width: auto;
    scrollbar-color: grey transparent;
}
main .box{
    margin: 15px 0px 15px 30px;
}
main .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 30px 20px 0px;
    font-weight: bold;
}
main .head h2{
    letter-spacing: -1px;
}
main .head h2:hover,main .head span:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
main .head span{
    font-weight: bold;
}
main .scroll_img{
    display: flex;
    overflow: auto;
    scrollbar-width: none;
}
main .scroll_img a{
    text-decoration: none;
    color: white;
}
main .img_box{
    line-height: 1.7;
    width: 180px;
    /* background-color: blue; */
    border-radius: 10px;
    padding: 10px;
}
main .scroll_img img{
    height: 150px ;
    width: 160px;
    border-radius: 10px;
}
main .head span,main .scroll_img p{
    color:var(--text-color);
    font-size:14px;
}
main .scroll_img h4{
    font-weight: normal;
}
main .scroll_img h4:hover,main .scroll_img span:hover{
    text-decoration: underline;
}
main .img_box:hover{
    background-color: var(--hover-bg-color);
}
main .box2 img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

main .footer_mainbox{
    margin: 20px 0px 20px 20px;
    padding:25px 5px;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    display: flex;

}
main .footer_content{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    line-height: 1.2;
}
main .footer_content h4{
    color: white;
    padding-bottom: 10px;
}
main .footer_content p{
    color: var(--text-color);
    padding-bottom: 10px;
}
main .social_media{
    margin: 5px 0px 0px auto;
    color: white;
}
main .social_media i{
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: white;
    background-color: var(--hover-bg-color);
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    margin: 0px 5px;
}
main .social_media a i:hover{
    border: 1px solid white;
}
main .last_content{
    margin: 30px 20px;
    color: var(--text-color);
}
main .last_content .circle_c{
    font-size: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    padding: 1px 2px;
    text-align: center;
    border: 1px solid var(--text-color);
}