@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#424244;
    --text-color:rgb(177, 171, 171);
    --hover-bg-color:#6e6e70;
}
/* nav bar */
body{
    background-color: rgb(11, 11, 11);
    font-family: "Roboto", sans-serif;
}
/* large screen nav */
.large_screen_nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(11, 11, 11);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    padding: 3px 0px;
    color:  var(--text-color);
    font-family: "Roboto", sans-serif;
    z-index: 999;
}
nav .search_bar{
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 50px;
    gap: 10px;
    align-items: center;
    font-size: 25px;
    background-color: var(--bg-color);
    margin-right: 230px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
}
nav .search_bar:hover{
    width: 280px;
    transform: scaleX(280px);
    margin-right: 0;
    margin-left: 10px;
    border-radius: 15px;
    border: 1px solid var(--hover-bg-color);
    color: whitesmoke;
}
nav #search{
    height: 30px;
    background-color: var(--bg-color) ;
    outline: none;
    border: none;
    padding: 0px 5px;
    color:white;
}
nav a{
    color: white;
    text-decoration: none;
}
nav .fa-spotify{
    font-size: 35px;
    color: white;
}
nav .bg{
    border-radius: 50%;
    padding:10px;
    background-color: var(--bg-color);
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: white;
}
nav button{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: white;
    font-size: 17px;
}
nav a .fa-arrow-down{
    height: 20px;
    width: 20px;
    font-size: 10px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 3px;
}
nav .home{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 30px;
    color: var(--text-color);
}
nav .product_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 30px;
    border-right: 2px solid rgb(140, 138, 138);
    color: var(--text-color);
}
nav .bg:hover{
    /* transition: scale(1.5,1.5); */
    font-size: 21px;
    background-color: var(--hover-bg-color);
}
nav .product_box a:hover,nav .product_box~a:hover{
    font-size: 17px;
    color: white;
}
a button:hover{
    padding:15px 20px;
    border-radius: 25px;
    background-color: #ededf1;
}

/* small screen nav */
.small_screen_nav{
     width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(11, 11, 11);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    padding: 3px 0px;
    color:  var(--text-color);
    font-family: "Roboto", sans-serif;
    z-index: 0;
}

.dropdown-parent {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin:0px  10px 0px 0px;
}

/* Hidden and floating outside standard page layout flow */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  right: 0px;
  /* left: 200px; */
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1; /* Sits on top of other content */
}

/* Makes links inside stack cleanly */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change link backgrounds on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* THE HOVER CONCEPT: Show the dropdown menu when hovering over the parent */
.dropdown-parent:hover .dropdown-content {
  display: block;
}
.search_bar_min{
    display: flex;
    height: 40px;
    gap: 10px;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--hover-bg-color);
    color: whitesmoke;
}


