
@media (min-width:1200px) and (max-width:1399.98px){

    .popup{
        width:750px;
        gap:50px;
    }
}


@media (min-width:992px) and (max-width:1199.98px){

    .popup{
        width:700px;
        gap:40px;
        padding:30px;
    }

    .image-box{
        width:260px;
        height:260px;
    }

    .right h1{
        font-size:25px;
    }
}


@media (min-width:768px) and (max-width:991.98px){

    .popup{
        width:90%;
        height:auto;
        gap:30px;
        padding:25px;
    }

    .image-box{
        width:240px;
        height:240px;
    }

    .right h1{
        font-size:24px;
    }

    .signup-btn,
    .download-btn{
        width:160px;
        height:45px;
    }
}


@media (min-width:576px) and (max-width:767.98px){

    .popup{
        width:90%;
        height:auto;
        flex-direction:column;
        gap:25px;
        padding:25px;
    }

    .image-box{
        width:220px;
        height:220px;
    }

    .right h1{
        font-size:22px;
        margin-bottom:20px;
    }

    .login-text{
        margin-top:25px;
        font-size:14px;
    }
}



@media (max-width:575.98px){

    .overlay{
        padding:15px;
    }
    main{
        display: none;
    }
    .popup{
        width:100%;
        height:auto;
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    .image-box{
        width:180px;
        height:180px;
    }
    .right h1{
        font-size:20px;
        margin-bottom:15px;
    }

    .signup-btn{
        width:140px;
        height:42px;
        font-size:16px;
    }

    .download-btn{
        width:150px;
        height:42px;
        font-size:15px;
    }

    .login-text{
        margin-top:20px;
        font-size:13px;
    }

    .close-btn{
        font-size:18px;
    }
}